main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 20px;
}

div {
    border: 1px solid black;
}


.nav-item {
    display: flex;
}

.left-view {
    height: calc(100vh - 97px - 40px);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.pokemon-short-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-icon-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.pokemon-title {
    font-size: 30px;
    font-weight: bolder;
}

.pokemon-classification {
    font-size: 20px;
    font-style: italic;
}

.pokemon-short-description {
    margin: 20px;
}

.right-view {
    height: calc(100vh - 97px - 40px);
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.general-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gen-info-span {
    margin: 10px;
    max-width: 100%;
}

.leveling-breeding-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.lvl-exp-info {
    margin: 10px;
}

img {
    width: 80%;
}
